# App
APP_NAME=Restaurant MVP API
APP_ENV=dev
APP_DEBUG=true
API_V1_PREFIX=/api/v1

# Database
DATABASE_URL=postgresql+psycopg2://restaurant_user:your_password@localhost:5432/restaurant_db

# JWT
JWT_SECRET_KEY=replace_with_a_very_long_secure_secret_key_for_dev_only_123456
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# Auth Security
AUTH_MAX_LOGIN_FAILURES=3
AUTH_LOCK_MINUTES=15

# Optional
LOG_LEVEL=INFO